doctype html
html(lang='en')  
    head
        block head            
        meta(name="viewport", content="width=device-width, initial-scale=1.0") 
        link(rel='stylesheet', href='css/main.css')
        script(src='js/main.bundle.js', defer)
    body(class='flex flex-col antialiased bg-white text-slate-900')
        #page.site
            #content.site-content
                block content 
            
            include includes/footer.pug