block variables

doctype html
html&attributes({'lang': 'de'})
  head
    block head
    meta(name="viewport", content="width=device-width, initial-scale=1.0") 
    link(rel="stylesheet", href="css/style.css")
    script(src="js/scripts.min.js", defer)
  body.bg-whitegreen-500.font-poppins.text-base.font-normal.text-black-500.antialiased
    #page.site
      include includes/header.pug

      main#content.site-content
        block content

      include includes/footer.pug
