extends ../layout.pug
block head
    title Hello World
    meta(name="description", content="The description of index.html")
block content
    div.container.mx-auto.prose
        h1 Welcome
        p This is the index.pug file compiled.