extends ../layout.pug
block head
    title Hello World
    meta(name="description", content="The description of index.html")
block content
    div.container.mx-auto
        h1 Welcome
        p This is the index.pug file compiled.
        i(class="fa-solid fa-user text-primary")

        .fa-4x 
            i(class="fa-solid fa-seedling text-primary rounded-full" data-fa-transform="shrink-8" style="background:MistyRose") 
            i(class="fa-solid fa-seedling" style="background:MistyRose") 
            i(class="fa-solid fa-seedling" data-fa-transform="grow-6" style="background:MistyRose") 
